
pre {
  background: black;
  
  border: 4px solid #ddd;
    
  background-color: aliceblue;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

h1{
    text-align: center;
}
input-box{
    height: 20px;
}